<mat-card>
  <mat-card-title>
    {{ getTranslate('models.employee.message.createEmployee') }}
  </mat-card-title>
  <form
    [formGroup]="employeeForm"
    (ngSubmit)="(onFormSubmit)"
    fxLayout="column wrap"
    fxLayoutAlign="center center"
    fxLayoutGap="10px">
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          type="text"
          [placeholder]="getEmployeeLabel('firstName')"
          formControlName="firstName"
          id="firstName" />
        <mat-error *ngIf="hasError('firstName', 'required')">
          {{ getValidation('firstName.required') }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          [placeholder]="getEmployeeLabel('lastName')"
          formControlName="lastName"
          id="lastName" />
        <mat-error *ngIf="hasError('lastName', 'required')">
          {{ getValidation('lastName.required') }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          [placeholder]="getEmployeeLabel('personalIdNumber')"
          formControlName="personalIdNumber"
          id="personalIdNumber" />
        <mat-error *ngIf="hasError('personalIdNumber', 'required')">
          {{ getValidation('personalIdNumber.required') }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="date"
          [placeholder]="getEmployeeLabel('birthdate')"
          formControlName="birthdate"
          id="birthdate" />
        <mat-error *ngIf="hasError('birthdate', 'required')">
          {{ getValidation('birthdate.required') }}
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!employeeForm.valid"
        (click)="onFormSubmit()">
        {{ getTranslate('common.submit') }}
      </button>
      <button
        type="button"
        mat-raised-button
        color="danger"
        (click)="onFormCancel()">
        {{ getTranslate('common.cancel') }}
      </button>
    </mat-card-actions>
  </form>
</mat-card>
