<mat-toolbar color="primary" fxLayout="row">
  <button mat-button (click)="onHomeClick()">
    <span>Human Resources</span>
  </button>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" fxHide.lt-sm>
    <ul fxLayout fxLayoutGap="20px">
      <a mat-button [matMenuTriggerFor]="homeMenu">
        {{ getRouteLabel('home') }}
      </a>
      <a mat-button [matMenuTriggerFor]="employeesMenu">
        {{ getRouteLabel('employees') }}
      </a>
      <ng-container
        *ngIf="isLoggedIn(); then loggedInAnchor; else loggedOutAnchor">
      </ng-container>
      <ng-template #loggedInAnchor>
        <a mat-button (click)="onProfileClick()">
          {{ getUserClaims()?.email }}
        </a>
        <a mat-button (click)="onLogoutClick()">
          {{ getRouteLabel('logout') }}
        </a>
      </ng-template>
      <ng-template #loggedOutAnchor>
        <a mat-button (click)="onLoginClick()">
          {{ getRouteLabel('login') }}
        </a>
      </ng-template>
    </ul>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.gt-xs>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="additional links">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="homeMenu">
        {{ getRouteLabel('home') }}
      </button>
      <button mat-menu-item [matMenuTriggerFor]="employeesMenu">
        {{ getRouteLabel('employees') }}
      </button>
      <ng-container
        *ngIf="
          isLoggedIn();
          then loggedInButton;
          else loggedOutButton
        "></ng-container>
      <ng-template #loggedInButton>
        <button mat-menu-item (click)="onProfileClick()">
          {{ getUserClaims()?.email }}
        </button>
        <button mat-menu-item (click)="onLogoutClick()">
          {{ getRouteLabel('logout') }}
        </button>
      </ng-template>
      <ng-template #loggedOutButton>
        <button mat-menu-item (click)="onLoginClick()">
          {{ getRouteLabel('login') }}
        </button>
      </ng-template>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>

<mat-menu #homeMenu="matMenu">
  <button mat-menu-item routerLink="/dashboard">
    {{ getRouteLabel('dashboard') }}
  </button>
</mat-menu>
<mat-menu #employeesMenu="matMenu">
  <button mat-menu-item routerLink="/employees/list">
    {{ getRouteLabel('employeesList') }}
  </button>
</mat-menu>
